<div class="center">
  <h2 class="title">Bảng giá hóa đơn điện tử</h2>
  <h4 class="subtitle">
    Hơn 500 khách hàng
    <br>
    Đã sử dụng hóa đơn điện tử của chúng tôi
  </h4>
</div>
<div class="product_category_line">
  <span class="product_category_inline"></span>
</div>
<div> </div>
<section class="container">
  <div class="row white">
        <div class="block">
          <div class="col-xs-12 col-sm-6 col-md-3">
              <ul class="pricing">
                <li>
                  <big>VAS 300</big>
                </li>
                <li>Số lượng hóa đơn : 300 tờ</li>
                <li>Phí khởi tạo: 500,000 VNĐ</li>
                <li>Miễn phí lưu trữ 10 năm</li>
                <li>
                  <h3>350,000 VNĐ</h3>
                </li>

              </ul>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
              <ul class="pricing">
                <li>
                  <big>VAS 500</big>
                </li>
                <li>Số lượng hóa đơn : 500 tờ</li>
                <li>Phí khởi tạo: 500,000 VNĐ</li>
                <li>Miễn phí lưu trữ 10 năm</li>
                <li>
                  <h3>500,000 VNĐ</h3>
                </li>

              </ul>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
              <ul class="pricing">
                <li>
                  <big>VAS 1000</big>
                </li>
                <li>Số lượng hóa đơn : 1000 tờ</li>
                <li>Phí khởi tạo: 500,000 VNĐ</li>
                <li>Miễn phí lưu trữ 10 năm</li>
                <li>
                  <h3>750,000 VNĐ</h3>
                </li>

              </ul>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
              <ul class="pricing">
                <li>
                  <big>VAS 2000</big>
                </li>
                <li>Số lượng hóa đơn : 2000 tờ</li>
                <li>Phí khởi tạo: 500,000 VNĐ</li>
                <li>Miễn phí lưu trữ 10 năm</li>
                <li>
                  <h3>1,150,000 VNĐ</h3>
                </li>
    
              </ul>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
              <ul class="pricing">
                <li>
                  <big>VAS 5000</big>
                </li>
                <li>Số lượng hóa đơn : 5000 tờ</li>
                <li>Miễn phí khởi tạo</li>
                <li>Miễn phí lưu trữ 10 năm</li>
                <li>
                  <h3>2,450,000 VNĐ</h3>
                </li>
 
              </ul>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
              <ul class="pricing">
                <li>
                  <big>VAS 10000</big>
                </li>
                <li>Số lượng hóa đơn : 10000 tờ</li>
                <li>Miễn phí khởi tạo</li>
                <li>Miễn phí lưu trữ 10 năm</li>
                <li>
                  <h3>4,900,000 VNĐ</h3>
                </li>
 
              </ul>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
              <ul class="pricing">
                <li>
                  <big>VAS 50000</big>
                </li>
                <li>Số lượng hóa đơn : 50000 tờ</li>
                <li>Miễn phí khởi tạo</li>
                <li>Miễn phí lưu trữ 10 năm</li>
                <li>
                  <h3>20,000,000 VNĐ</h3>
                </li>
      
              </ul>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
              <ul class="pricing">
                <li>
                  <big>VAS 100000</big>
                </li>
                <li>Số lượng hóa đơn : 100000 tờ</li>
                <li>Miễn phí khởi tạo</li>
                <li>Miễn phí lưu trữ 10 năm</li>
                <li>
                  <h3>30,000,000 VNĐ</h3>
                </li>
          
              </ul>
          </div>

        </div><!-- /block -->
      </div><!-- /row -->
  </section>