<div ng-controller="productdetailsController">
	<div class="row" ng-show="divadd">
		<form action="">
				<div class="form-group">
					<label class="col-sm-3 control-label">Tên thuộc tính</label>
					<div class="col-sm-9"><input class="form-control"   ng-model="name" required="true"></div>
				</div>
		</form>
		<div class="panel-body">
			<button class="btn btn-primary m-r-5 m-b-5" ng-click="saveproductdetails()">Lưu</button>
		</div>
	</div>
</div>