<div ng-controller="editproducttypesController">
	<div class="row" ng-show="divedit">
		<form action="">
				<div class="form-group">
					<label class="col-sm-3 control-label">Nhà xe</label>
					<div class="col-sm-9"><input class="form-control"  placeholder="Nhà xe / Biển số"  ng-model="userinfo.name" required="true"></div>
				</div>
		</form>
		<div class="panel-body">
			<button class="btn btn-primary m-r-5 m-b-5" ng-click="saveeditproducttypes()">Lưu</button>
		</div>
	</div>
</div>